/*
body {
  margin:0;
  padding:0;
  background: #000;
  overflow: hidden;
}
*/
.pyro {
  position: fixed;
  left: 0;
  top: 1in;
  width: 100%;
  height: 100%; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 113px -54.6666666667px #ff0077, -191px -75.6666666667px #ff3300, -126px -156.6666666667px #0037ff, -16px 63.3333333333px #ff000d, -127px -8.6666666667px #ff3c00, -190px -164.6666666667px #00ffd9, 192px -80.6666666667px #eaff00, 163px 47.3333333333px #ff2600, 44px 56.3333333333px #00ff1a, -140px -355.6666666667px #ff00ae, 218px -304.6666666667px #00d5ff, 227px -6.6666666667px #00ff9d, -95px -217.6666666667px #8800ff, 143px -383.6666666667px #b700ff, -24px -391.6666666667px #ff0080, 32px -261.6666666667px #ff00ee, 45px -341.6666666667px #0080ff, -142px -134.6666666667px #00ffb3, -215px -135.6666666667px #cc00ff, 49px -336.6666666667px #8cff00, -186px -152.6666666667px magenta, 155px -140.6666666667px #5100ff, 213px 15.3333333333px #e100ff, 191px -351.6666666667px #00ff88, -115px 61.3333333333px #0037ff, -144px -106.6666666667px #88ff00, -152px -174.6666666667px #77ff00, 191px -42.6666666667px #ff7700, 229px -285.6666666667px #00d5ff, -19px -263.6666666667px #ff0044, 214px -265.6666666667px #0062ff, 114px -2.6666666667px #ff00cc, 120px -78.6666666667px #9900ff, -156px -85.6666666667px #00ff51, -242px -237.6666666667px #c4ff00, 66px -298.6666666667px #3700ff, -93px -358.6666666667px #15ff00, -217px -62.6666666667px #c400ff, 152px -232.6666666667px #00ff0d, 155px -346.6666666667px #ff0084, 185px -252.6666666667px #ff0033, 96px -44.6666666667px #00ffb3, -162px 40.3333333333px #ae00ff, 175px -122.6666666667px #00c4ff, -208px 21.3333333333px #ff00aa, -125px 71.3333333333px #ff3c00, 242px -238.6666666667px #ff2f00, 72px 81.3333333333px #33ff00, 159px -30.6666666667px #2f00ff, 149px -63.6666666667px #0059ff, 188px -208.6666666667px #ff0062; } }
@-moz-keyframes bang {
  to {
    box-shadow: 113px -54.6666666667px #ff0077, -191px -75.6666666667px #ff3300, -126px -156.6666666667px #0037ff, -16px 63.3333333333px #ff000d, -127px -8.6666666667px #ff3c00, -190px -164.6666666667px #00ffd9, 192px -80.6666666667px #eaff00, 163px 47.3333333333px #ff2600, 44px 56.3333333333px #00ff1a, -140px -355.6666666667px #ff00ae, 218px -304.6666666667px #00d5ff, 227px -6.6666666667px #00ff9d, -95px -217.6666666667px #8800ff, 143px -383.6666666667px #b700ff, -24px -391.6666666667px #ff0080, 32px -261.6666666667px #ff00ee, 45px -341.6666666667px #0080ff, -142px -134.6666666667px #00ffb3, -215px -135.6666666667px #cc00ff, 49px -336.6666666667px #8cff00, -186px -152.6666666667px magenta, 155px -140.6666666667px #5100ff, 213px 15.3333333333px #e100ff, 191px -351.6666666667px #00ff88, -115px 61.3333333333px #0037ff, -144px -106.6666666667px #88ff00, -152px -174.6666666667px #77ff00, 191px -42.6666666667px #ff7700, 229px -285.6666666667px #00d5ff, -19px -263.6666666667px #ff0044, 214px -265.6666666667px #0062ff, 114px -2.6666666667px #ff00cc, 120px -78.6666666667px #9900ff, -156px -85.6666666667px #00ff51, -242px -237.6666666667px #c4ff00, 66px -298.6666666667px #3700ff, -93px -358.6666666667px #15ff00, -217px -62.6666666667px #c400ff, 152px -232.6666666667px #00ff0d, 155px -346.6666666667px #ff0084, 185px -252.6666666667px #ff0033, 96px -44.6666666667px #00ffb3, -162px 40.3333333333px #ae00ff, 175px -122.6666666667px #00c4ff, -208px 21.3333333333px #ff00aa, -125px 71.3333333333px #ff3c00, 242px -238.6666666667px #ff2f00, 72px 81.3333333333px #33ff00, 159px -30.6666666667px #2f00ff, 149px -63.6666666667px #0059ff, 188px -208.6666666667px #ff0062; } }
@-o-keyframes bang {
  to {
    box-shadow: 113px -54.6666666667px #ff0077, -191px -75.6666666667px #ff3300, -126px -156.6666666667px #0037ff, -16px 63.3333333333px #ff000d, -127px -8.6666666667px #ff3c00, -190px -164.6666666667px #00ffd9, 192px -80.6666666667px #eaff00, 163px 47.3333333333px #ff2600, 44px 56.3333333333px #00ff1a, -140px -355.6666666667px #ff00ae, 218px -304.6666666667px #00d5ff, 227px -6.6666666667px #00ff9d, -95px -217.6666666667px #8800ff, 143px -383.6666666667px #b700ff, -24px -391.6666666667px #ff0080, 32px -261.6666666667px #ff00ee, 45px -341.6666666667px #0080ff, -142px -134.6666666667px #00ffb3, -215px -135.6666666667px #cc00ff, 49px -336.6666666667px #8cff00, -186px -152.6666666667px magenta, 155px -140.6666666667px #5100ff, 213px 15.3333333333px #e100ff, 191px -351.6666666667px #00ff88, -115px 61.3333333333px #0037ff, -144px -106.6666666667px #88ff00, -152px -174.6666666667px #77ff00, 191px -42.6666666667px #ff7700, 229px -285.6666666667px #00d5ff, -19px -263.6666666667px #ff0044, 214px -265.6666666667px #0062ff, 114px -2.6666666667px #ff00cc, 120px -78.6666666667px #9900ff, -156px -85.6666666667px #00ff51, -242px -237.6666666667px #c4ff00, 66px -298.6666666667px #3700ff, -93px -358.6666666667px #15ff00, -217px -62.6666666667px #c400ff, 152px -232.6666666667px #00ff0d, 155px -346.6666666667px #ff0084, 185px -252.6666666667px #ff0033, 96px -44.6666666667px #00ffb3, -162px 40.3333333333px #ae00ff, 175px -122.6666666667px #00c4ff, -208px 21.3333333333px #ff00aa, -125px 71.3333333333px #ff3c00, 242px -238.6666666667px #ff2f00, 72px 81.3333333333px #33ff00, 159px -30.6666666667px #2f00ff, 149px -63.6666666667px #0059ff, 188px -208.6666666667px #ff0062; } }
@-ms-keyframes bang {
  to {
    box-shadow: 113px -54.6666666667px #ff0077, -191px -75.6666666667px #ff3300, -126px -156.6666666667px #0037ff, -16px 63.3333333333px #ff000d, -127px -8.6666666667px #ff3c00, -190px -164.6666666667px #00ffd9, 192px -80.6666666667px #eaff00, 163px 47.3333333333px #ff2600, 44px 56.3333333333px #00ff1a, -140px -355.6666666667px #ff00ae, 218px -304.6666666667px #00d5ff, 227px -6.6666666667px #00ff9d, -95px -217.6666666667px #8800ff, 143px -383.6666666667px #b700ff, -24px -391.6666666667px #ff0080, 32px -261.6666666667px #ff00ee, 45px -341.6666666667px #0080ff, -142px -134.6666666667px #00ffb3, -215px -135.6666666667px #cc00ff, 49px -336.6666666667px #8cff00, -186px -152.6666666667px magenta, 155px -140.6666666667px #5100ff, 213px 15.3333333333px #e100ff, 191px -351.6666666667px #00ff88, -115px 61.3333333333px #0037ff, -144px -106.6666666667px #88ff00, -152px -174.6666666667px #77ff00, 191px -42.6666666667px #ff7700, 229px -285.6666666667px #00d5ff, -19px -263.6666666667px #ff0044, 214px -265.6666666667px #0062ff, 114px -2.6666666667px #ff00cc, 120px -78.6666666667px #9900ff, -156px -85.6666666667px #00ff51, -242px -237.6666666667px #c4ff00, 66px -298.6666666667px #3700ff, -93px -358.6666666667px #15ff00, -217px -62.6666666667px #c400ff, 152px -232.6666666667px #00ff0d, 155px -346.6666666667px #ff0084, 185px -252.6666666667px #ff0033, 96px -44.6666666667px #00ffb3, -162px 40.3333333333px #ae00ff, 175px -122.6666666667px #00c4ff, -208px 21.3333333333px #ff00aa, -125px 71.3333333333px #ff3c00, 242px -238.6666666667px #ff2f00, 72px 81.3333333333px #33ff00, 159px -30.6666666667px #2f00ff, 149px -63.6666666667px #0059ff, 188px -208.6666666667px #ff0062; } }
@keyframes bang {
  to {
    box-shadow: 113px -54.6666666667px #ff0077, -191px -75.6666666667px #ff3300, -126px -156.6666666667px #0037ff, -16px 63.3333333333px #ff000d, -127px -8.6666666667px #ff3c00, -190px -164.6666666667px #00ffd9, 192px -80.6666666667px #eaff00, 163px 47.3333333333px #ff2600, 44px 56.3333333333px #00ff1a, -140px -355.6666666667px #ff00ae, 218px -304.6666666667px #00d5ff, 227px -6.6666666667px #00ff9d, -95px -217.6666666667px #8800ff, 143px -383.6666666667px #b700ff, -24px -391.6666666667px #ff0080, 32px -261.6666666667px #ff00ee, 45px -341.6666666667px #0080ff, -142px -134.6666666667px #00ffb3, -215px -135.6666666667px #cc00ff, 49px -336.6666666667px #8cff00, -186px -152.6666666667px magenta, 155px -140.6666666667px #5100ff, 213px 15.3333333333px #e100ff, 191px -351.6666666667px #00ff88, -115px 61.3333333333px #0037ff, -144px -106.6666666667px #88ff00, -152px -174.6666666667px #77ff00, 191px -42.6666666667px #ff7700, 229px -285.6666666667px #00d5ff, -19px -263.6666666667px #ff0044, 214px -265.6666666667px #0062ff, 114px -2.6666666667px #ff00cc, 120px -78.6666666667px #9900ff, -156px -85.6666666667px #00ff51, -242px -237.6666666667px #c4ff00, 66px -298.6666666667px #3700ff, -93px -358.6666666667px #15ff00, -217px -62.6666666667px #c400ff, 152px -232.6666666667px #00ff0d, 155px -346.6666666667px #ff0084, 185px -252.6666666667px #ff0033, 96px -44.6666666667px #00ffb3, -162px 40.3333333333px #ae00ff, 175px -122.6666666667px #00c4ff, -208px 21.3333333333px #ff00aa, -125px 71.3333333333px #ff3c00, 242px -238.6666666667px #ff2f00, 72px 81.3333333333px #33ff00, 159px -30.6666666667px #2f00ff, 149px -63.6666666667px #0059ff, 188px -208.6666666667px #ff0062; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

/*# sourceMappingURL=fireworks.css.map */
